input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

h3 {
    margin-bottom: 2px;
    font-size: 18px;
}

.container {
    margin: auto;
    width: 60%;
}

.center {
    text-align: center;
}